<template>
  <title-page>Buat Mahasiswa</title-page>

  <form
    @submit.prevent="submitStudent"
    class="border w-1/2 mx-auto p-3 rounded shadow"
  >
    <div class="mb-3">
      <label class="block my-1">Nomor Pokok Mahasiswa</label>
      <input
        type="number"
        v-model="npm"
        :class="[isNpm ? 'border-red-600' : '']"
        class="border px-2 py-1 rounded shadow w-full"
      />
      <warning-message v-if="isNpm" class="text-red-600">{{
        NpmMessage
      }}</warning-message>
    </div>
    <div class="mb-3">
      <label class="block my-1">Nama Mahasiswa</label>
      <input
        type="text"
        :class="[isName ? 'border-red-600' : '']"
        v-model="name"
        class="border px-2 py-1 rounded shadow w-full"
      />
      <warning-message v-if="isName" class="text-red-600">{{
        NameMessage
      }}</warning-message>
    </div>
    <div class="mb-3">
      <label class="block my-1">Program Studi</label>
      <select
        v-model="program"
        :class="[isProgram ? 'border-red-600' : '']"
        class="border px-2 py-1 rounded shadow w-full"
      >
        <option value="Teknik Lingkungan">Teknik Lingkungan</option>
        <option value="Teknik Pertambangan">Teknik Pertambangan</option>
        <option value="Teknik Perminyakan">Teknik Perminyakan</option>
        <option value="Teknik Informatika">Teknik Informatika</option>
        <option value="Teknik Kimia">Teknik Kimia</option>
      </select>
      <warning-message v-if="isProgram" class="text-red-600">{{
        ProgramMessage
      }}</warning-message>
    </div>
    <button
      class="bg-blue-600 rounded px-2 py-1 mr-2 text-white hover:bg-blue-300"
    >
      Simpan
    </button>
  </form>
  <Teleport to="body">
    <confirm-dialog v-if="isConfirmDialog">
      <template v-slot:title>Informasi</template>
      <template v-slot:message>{{ message }}</template>
      <template v-slot:button>
        <button
          @click="closeConfirmDialog"
          class="bg-blue-600 rounded px-2 py-1 mr-2 text-white hover:bg-blue-300"
        >
          Tutup
        </button>
      </template>
    </confirm-dialog>
  </Teleport>
</template>

<script>
export default {
  inject: ["students", "saveStudent"],
  data() {
    return {
      npm: "",
      name: "",
      program: "",
      isNpm: false,
      isName: false,
      isProgram: false,
      isConfirmDialog: false,
      NpmMessage: "",
      NameMessage: "",
      ProgramMessage: "",
      message: "",
    };
  },
  methods: {
    submitStudent() {
      if (!this.npm) {
        this.isNpm = true;
        this.NpmMessage = "Nomor Pokok Mahasiswa harus diisi";
      } else {
        this.isNpm = false;
      }
      if (!this.name) {
        this.isName = true;
        this.NameMessage = "Nama harus diisi";
      } else {
        this.isName = false;
      }
      if (!this.program) {
        this.isProgram = true;
        this.ProgramMessage = "Program Studi harus dipilih";
      } else {
        this.isProgram = false;
      }
      if (!this.isNpm && !this.isName && !this.isProgram) {
        let searchingStudent = this.students.find(
          (student) => student.npm === this.npm
        );
        if (searchingStudent) {
          this.isConfirmDialog = true;
          this.message = "NPM " + this.npm + " sudah ada!";
        } else {
          this.saveStudent(this.npm, this.name, this.program);
          this.isConfirmDialog = true;
          this.message = "Data Mahasiswa baru berhasil disimpan";
          this.npm = "";
          this.name = "";
          this.program = "";
        }
      }
    },
    closeConfirmDialog() {
      this.isConfirmDialog = false;
    },
  },
};
</script>
