<template>
  <title-page>Daftar Mahasiswa</title-page>

  <table class="border border-collapse mx-auto">
    <thead>
      <tr>
        <th-table>No</th-table>
        <th-table>NPM</th-table>
        <th-table>Nama</th-table>
        <th-table>Program Studi</th-table>
        <th-table>Aksi</th-table>
      </tr>
    </thead>
    <tbody>
      <tr
        class="odd:bg-gray-50 hover:bg-red-50"
        v-for="(student, index) in students"
        :key="student.npm"
      >
        <td-table>{{ index + 1 }}</td-table>
        <td-table>{{ student.npm }}</td-table>
        <td-table>{{ student.name }}</td-table>
        <td-table>{{ student.program }}</td-table>
        <td-table>
          <button
            @click="editStudent(student)"
            class="bg-yellow-500 rounded px-2 py-1 mr-2 text-white hover:bg-yellow-300"
          >
            Ubah
          </button>
          <button
            @click="deleteStudent(student.npm)"
            class="bg-red-600 rounded px-2 py-1 text-white hover:bg-red-300"
          >
            Hapus
          </button>
        </td-table>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  inject: ["students", "deleteStudent", "editStudent"],
};
</script>
