@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
}

:root {
  --color-bg: #16abf8;
}

.header {
  height: 105px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  color: white;
}

.container {
  max-width: 1000px;
}

.header h2 {
  font-size: 24px;
  font-weight: 700;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  margin: 43px 0 55px;
}

.todo-header h1 {
  font-size: 35px;
  font-weight: 700;
}

.todo-header .btn {
  width: 170px;
  height: 54px;
}

.btn {
  cursor: pointer;
  background-color: var(--color-bg);
  border-radius: 45px;
  border: none;
  padding: 13px 29px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.icon-plus {
  margin-right: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.activity-card {
  height: 234px;
  background-color: #fff;
  border-radius: 12px;
  padding: 22px 27px;
  margin-bottom: 26px;
  position: relative;
  box-shadow: 10px 10px 60px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 60px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px -10px rgba(0, 0, 0, 0.75);
}

.activity-card .activity-body {
  cursor: pointer;
  height: 158px;
}

.activity-card .activity-body h4 {
  font-size: 18px;
  font-weight: 700;
}

.activity-body {
  text-align: center;
  text-decoration: none;
  color: black;
}

.activity-card .card-footer {
  position: absolute;
  bottom: 25px;
  background-color: #fff;
  color: #888;
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0;
  width: calc(100% - 54px);
}

.activity-card .bi {
  cursor: pointer;
  margin: 0;
}

.icon-trash {
  cursor: pointer;
}

.todo-header .todo-title {
  display: flex;
  align-items: center;
}

.todo-header .todo-title .icon-back {
  margin-right: 20px;
}

.icon-back {
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.icon-arrow {
  width: 22px;
  height: 22px;
  color: black;
}

.todo-header .todo-title .icon-edit {
  margin-left: 27px;
}

.icon-pen {
  color: gray;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.dropdown {
  position: relative;
}

.todo-header .btn-sort {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background-color: transparent;
  height: 54px;
  width: 54px;
  margin-right: 18px;
}

.todo-header .dropdown-menu .show {
  width: 235px;
  border-radius: 6px;
}

.todo-header .dropdown-menu {
  padding: 0;
  box-shadow: 8px 4px 8px 0 rgb(175, 175, 175);
}

.todo-header .dropdown-item {
  height: 52px;
  width: 235px;
  padding: 0px;
}

.dropdown-item {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.todo-header .dropdown-item .item-label {
  padding: 14px 21px;
  border-bottom: 1px solid #e5e5e5;
}

.icon-selection {
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}

.todo-header .dropdown-item span {
  margin-left: 15px;
}
