/* Admin */
.category-image {
    width: 100px;
}

.product-image {
    width: 70px;
    height: 70px;
}

/* frontend */
.navbar {
    font-size: 18px;
}

.navbar-brand {
    font-weight: 700;
    transition: all 400ms;
}

.navbar-brand:hover {
    transform: scale(1.25);
}

.image-corousel {
    height: 320px;
    object-fit: contain;
}

a {
    text-decoration: none !important;
}

h5,
p {
    color: black;
}

.card-item {
    transition: all 400ms ease;
}

.card-item:hover {
    transform: scale(1.1);
}

.card-body > span {
    color: black;
}

h6 > a {
    font-size: 18px;
    color: black;
}

h6 > a:hover {
    color: gray;
}
