<template>
  <header class="w-screen bg-red-100 px-3 py-2 grid grid-cols-2">
    <span>Universitas</span>

    <div>
      <menu-button
        @click="setActivePage('show-students')"
        :class="[
          activePage === 'show-students'
            ? 'bg-blue-300 text-black'
            : 'bg-blue-600 text-white',
        ]"
        >Data Mahasiswa</menu-button
      >
      <menu-button
        @click="setActivePage('input-student')"
        :class="[
          activePage === 'input-student'
            ? 'bg-blue-300 text-black'
            : 'bg-blue-600 text-white',
        ]"
        class="px-2 py-1 rounded shadow"
      >
        Input Mahasiswa
      </menu-button>
    </div>
  </header>

  <div id="content" class="container mx-auto py-2">
    <!-- <KeepAlive> -->
    <component :is="activePage"></component>
    <!-- </KeepAlive> -->
  </div>

  <confirm-dialog v-if="isConfirmDialog">
    <template v-slot:title>Konfirmasi</template>
    <template v-slot:message>Yakin data akan dihapus?</template>
    <template v-slot:button>
      <button
        @click="deletingStudent"
        class="bg-blue-600 rounded px-2 py-1 mr-2 text-white hover:bg-blue-300"
      >
        Ya
      </button>
      <button
        @click="cancelDelete"
        class="bg-red-500 rounded px-2 py-1 text-white hover:bg-red-300"
      >
        Batal
      </button>
    </template>
  </confirm-dialog>
</template>

<script>
import { computed } from "vue";
import ShowStudents from "./components/ShowStudents.vue";
import InputStudent from "./components/InputStudent.vue";
import EditStudent from "./components/EditStudent.vue";

export default {
  components: {
    ShowStudents,
    InputStudent,
    EditStudent,
  },
  data() {
    return {
      activePage: "show-students",
      isConfirmDialog: false,
      deletedNpm: "",
      oldStudent: {
        npm: "",
        name: "",
        program: "",
      },
      students: [
        {
          npm: "11041100011",
          name: "Denta Wahyu Herlambang",
          program: "Teknik Lingkungan",
        },
        {
          npm: "11041100001",
          name: "Budi Santoso",
          program: "Teknik Pertambangan",
        },
        {
          npm: "11041100012",
          name: "Rudi Wibowo",
          program: "Teknik Perminyakan",
        },
        {
          npm: "11041100021",
          name: "Lastri Widyastuti",
          program: "Teknik Informatika",
        },
        {
          npm: "11041100030",
          name: "Rina Mutiara",
          program: "Teknik Kimia",
        },
      ],
    };
  },
  provide() {
    return {
      students: computed(() => this.students),
      student: computed(() => this.oldStudent),
      deleteStudent: this.deleteStudent,
      saveStudent: this.saveStudent,
      editStudent: this.editStudent,
      updateStudent: this.updateStudent,
    };
  },
  methods: {
    setActivePage(page) {
      this.activePage = page;
    },
    deleteStudent(deletedNpm) {
      this.isConfirmDialog = true;
      this.deletedNpm = deletedNpm;
    },
    deletingStudent() {
      this.students = this.students.filter(
        (student) => student.npm !== this.deletedNpm
      );
      this.isConfirmDialog = false;
    },
    cancelDelete() {
      this.isConfirmDialog = false;
      this.deleteNpm = "";
    },
    saveStudent(enteredNpm, enteredName, enteredProgram) {
      const newStudent = {
        npm: enteredNpm,
        name: enteredName,
        program: enteredProgram,
      };
      this.students.push(newStudent);
    },
    editStudent(editedStudent) {
      this.activePage = "edit-student";
      this.oldStudent = {
        npm: editedStudent.npm,
        name: editedStudent.name,
        program: editedStudent.program,
      };
    },
    updateStudent(npm, updatedName, updatedProgram) {
      let searchingStudent = this.students.find(
        (student) => student.npm === npm
      );
      searchingStudent.name = updatedName;
      searchingStudent.program = updatedProgram;
    },
  },
};
</script>
